<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<lab name="${lab_name}" id="${lab_id}" version="1" scripttimeout="300" password="" author="${author}" countdown="60" darkmode="" mode3d="" nogrid="" joinable="0" joinable_emails="1" openable="0" openable_emails="1" editable="0" editable_emails="1" multi_config_active="">
  <description>${description}</description>
  <topology>
    <nodes>
      <node id="${node_id}" type="qemu" template="${node_template}" config="0" config_script="" script_timeout="1200" config_data="" multi_config="W10=" delay="0" icon="Server.png" image="${image_name}" left="948" name="${node_name}" top="474" size="0" console="vnc" ethernet="${ethernet}" nvram="1024" ram="${ram}" serial="0" idlepc="0x0" cpu="${cpu}" cpulimit="1" uuid="${node_uuid}" firstmac="${firstmac}" first_nic="" qemu_options="${qemu_options}" qemu_version="2.12.0" qemu_arch="x86_64" qemu_nic="${qemu_nic}" username="" password="" eth_format="" console_2nd="" map_port="" map_port_2nd="">
        <interface id="0" name="e0" type="ethernet" network_id="1" style="" linkstyle="" color="" label="" linkcfg="" labelpos="" srcpos="" dstpos="" width="" fontsize=""/>
      </node>
    </nodes>
    <networks>
      <network id="1" type="${network_type}" name="${network_name}" left="468" top="435" visibility="1" icon="cloud.png" size=""/>
    </networks>
  </topology>
</lab>
